/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 10>;
        };

        Gaming_layer {
            bindings = <&tog 2>;
            key-positions = <10 6 34 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp F       &kp P  &kp B             &kp J      &kp L      &kp U              &kp Y    &kp SEMICOLON  &none
&none  &kp A  &kp R  &kp S       &kp T  &kp G             &kp M      &kp N      &kp E              &kp I    &kp O          &none
&none  &kp Z  &kp X  &kp C       &kp D  &kp V             &kp K      &kp H      &kp COMMA          &kp DOT  &kp FSLH       &none
                     &lt 2 LWIN  &mo 1  &kp LEFT_SHIFT    &kp ENTER  &kp SPACE  &kp RIGHT_CONTROL
            >;
        };

        layer_1 {
            bindings = <
&kp TAB        &kp TAB        &trans  &trans  &trans  &trans    &kp EQUAL  &kp N7  &kp N8  &kp N9  &trans   &trans
&kp BACKSPACE  &kp BACKSPACE  &trans  &trans  &trans  &trans    &kp MINUS  &kp N4  &kp N5  &kp N6  &kp RET  &trans
&kp LCTRL      &kp LCTRL      &trans  &trans  &trans  &trans    &trans     &kp N1  &kp N2  &kp N3  &kp DOT  &trans
                                      &trans  &trans  &trans    &trans     &trans  &kp N0
            >;
        };

        layer_2 {
            bindings = <
&kp F1  &kp F1        &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans  &kp LS(EXCL)  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans
                              &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &kp Q      &none         &kp W         &kp E         &kp NUMBER_6    &none  &none  &none  &none  &none  &none
&none  &kp LCTRL  &kp A         &kp S         &kp D         &kp N5          &none  &none  &none  &none  &none  &none
&none  &kp LSHFT  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &none  &none  &none  &none  &none  &none
                                &none         &kp N7        &kp SPACE       &none  &none  &none
            >;
        };
    };
};
