/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp P             &kp B            &kp J      &kp L  &kp U      &kp Y    &kp SEMICOLON  &kp BSPC
&kp LCTRL  &kp A  &kp R  &kp S     &kp T             &kp G            &kp M      &kp N  &kp E      &kp I    &kp O          &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp D             &kp V            &kp K      &kp H  &kp COMMA  &kp DOT  &kp FSLH       &kp ESC
                         &kp LGUI  &lt 1 LEFT_SHIFT  &kp BACKSPACE    &kp SPACE  &mo 1  &kp RALT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp EQUAL  &kp N7  &kp N8  &kp N9  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp MINUS  &kp N4  &kp N5  &kp N6  &kp RET  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &kp N1  &kp N2  &kp N3  &kp DOT  &trans
                        &trans  &trans  &trans    &trans     &trans  &kp N0
            >;
        };
    };
};
